body {
    padding:0;
    margin:0;
}

#header {
    display: flex;
}

a.title {
    text-decoration: none;
    color: inherit;
}

h1.title {
    font-family:'Courier New', Courier, monospace;
    color: white;
    margin-top: 0;
    padding-top: 0.5rem;
}

.banner {
    text-align:center;
    width: 100%;
    height: 3rem;
    background-color: black;
}

.articleBox {
    margin-top: 5rem;
    margin-left: 6vw;
    font-family: 'Courier New', Courier, monospace;
    width: 60vw;
    display: flexbox;
}

.article {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    list-style-type: none;
}

h3.article {
    width:100%;
    background-color: black;
    color: white;
    height: 2rem;
}

a.article {
    text-decoration: none;
}

.topicLine {
    text-transform: capitalize;
    margin-right: 2rem;
}

.byline {
    float:right;
}

.singleArticleView {
    width:70%;
    margin: auto;
    margin-top: 5vh;
}

.commentsBox {
    margin-top: 5rem;
    width:100%;
    font-family: 'Courier New', Courier, monospace;
}

.commentsList {
    padding-left: 0;
    margin-left: 0;
    display: inline-block;
}

.comment {
    list-style-type: none;
}

h4.comment {
    color: white;
    background-color: black;
}

.commentTimestamp {
    float: right;
    color: white;
}